<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Countries List</title>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Countries</h2>
        <a href="/countries/create" class="btn btn-primary">Add New Country</a>
    </div>

    <div class="card">
        <div class="card-body">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Code</th>
                    <th style="width: 150px;">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="country : ${countries}">
                    <td th:text="${country.id}"></td>
                    <td th:text="${country.name}"></td>
                    <td th:text="${country.code}"></td>
                    <td>
                        <a th:href="@{/countries/edit/{id}(id=${country.id})}"
                           class="btn btn-sm btn-warning">Edit</a>
                        <a th:href="@{/countries/delete/{id}(id=${country.id})}"
                           class="btn btn-sm btn-danger"
                           onclick="return confirm('Are you sure you want to delete this country?')">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>